
body {

    background-color: #303755;
    color: #ECECEC;
    font-size: 20px;
}

header {
    font-size: 50px;
    text-align: center;
}

footer {
    text-align: right;
    margin-right: 20px;
}

#ultimopunto {
    list-style-type: circle;
}

p {
    text-indent: 12px;
    text-align: justify;
    margin-right: 20px;
}